@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@100;200&family=Playfair+Display:ital,wght@1,800&display=swap');

@media (max-width: 1050px){
    #mapa{
        display: none;
    }
}

@media (max-width: 500px){
    #habilidades{
        display: none;
    }
}

@media (min-width: 500px){
    #habilidades2{
        display: none;
    }
}

#acercaDeMi h1{
    font-family: 'Playfair Display', serif;
}

#acercaDeMi p{
    font-family: 'Times New Roman', Times, serif;
}

#foto{
    padding: 0px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 0px rgb(0, 3, 3);
}

#pie{
    background-color: rgb(70, 70, 70);
}

#pie p{
    color: aquamarine;
}

.tbHabilidades{
    border: 1px;
    border-color: black;
}

.exp{
    margin-right: 5vh;
}


.tituloPie{
    color: white;
}

.icono{
    color: white;
    padding: 0.5rem;
}