@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@100;200&family=Playfair+Display:ital,wght@1,800&display=swap');

#acercaDeMi h1{
    font-family: 'Playfair Display', serif;
}

#acercaDeMi p{
    font-family: 'Times New Roman', Times, serif;
}

#foto{
    border: none;
}